[submodule "CircuitPython-online-IDE2.wiki"]
	path = CircuitPython-online-IDE2.wiki
	url = https://github.com/urfdvw/CircuitPython-online-IDE2.wiki.git
[submodule "useFileSystem"]
	path = useFileSystem
	url = https://github.com/urfdvw/useFileSystem.git
