.ide {
    background-color: red;
    gap: 0px;
    margin: 0;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.ide-header {
    background-color: lightgray;
    flex-grow: 0;
}

.ide-body {
    background-color: lightgray;
    flex-grow: 1;
}

.ide-tail {
    background-color: lightgray;
    flex-grow: 0;
}
